%% -*- erlang -*-
{deps, [
    {lhttpc, ".*",
        {git, "git://github.com/esl/lhttpc.git", "HEAD"}},
    {binary2, ".*",
        {git, "git://github.com/arcusfelis/binary2.git", "HEAD"}},
    {vodka, ".*",
        {git, "git://github.com/mad-cocktail/vodka.git", "HEAD"}},
    {erlando, ".*", {git, "git://github.com/rabbitmq/erlando.git", "HEAD"}}
]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
