%% -*- erlang -*-
{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager.git", "HEAD"}},
    {lhttpc, ".*", {git, "git://github.com/esl/lhttpc.git", "HEAD"}},
    {binary2, ".*", {git, "git://github.com/arcusfelis/binary2.git", "HEAD"}},
    {arak, ".*", {git, "git://github.com/mad-cocktail/arak.git", "HEAD"}},
    {vodka, ".*", {git, "git://github.com/mad-cocktail/vodka.git", "HEAD"}},
    {erlando, ".*", {git, "git://github.com/rabbitmq/erlando.git", "HEAD"}},
    {iso8601, ".*", {git, "git://github.com/seansawyer/erlang_iso8601.git", "HEAD"}},
    {octoerl, ".*", {git, "git://github.com/arcusfelis/octoerl.git", "HEAD"}},
    {plists, ".*", {git, "git://github.com/arcusfelis/plists.git", "HEAD"}}
]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
